In [1]:
import pandas as pd
#2010-01-01 ~ 2021-06 까지 누계자료
kto_data = pd.read_excel(
            "data/방한 외래관광객_20210824.xlsx"
            ,header = 1
            ,usecols = "A:G"
            ,skipfooter = 4
)

In [2]:
kto_data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,계,Unnamed: 5,관광,Unnamed: 7,상용,Unnamed: 9,공용,Unnamed: 11,유학연수,Unnamed: 13,기타
년,월,대륙,국적,인원수,증감률(%),인원수,증감률(%),인원수,증감률(%),인원수,증감률(%),인원수,증감률(%),인원수,증감률(%)
2010,01,아시아,중국,"91,252",-1.89,"40,425",-7.30,"11,930",22.33,55,66.67,"2,751",-5.17,"36,091",-1.70
2010,01,아시아,일본,"209,184",-12.04,"202,825",-11.93,"1,750",-25.63,89,-18.35,549,8.07,"3,971",-12.59
2010,01,아시아,대만,"36,399",-2.74,"35,788",-2.63,41,20.59,17,-37.04,37,-44.78,516,-4.97
2010,01,아시아,홍콩,"14,545",-42.30,"13,874",-43.16,55,57.14,0,0.00,21,133.33,595,-21.09